@model GeoLab100.Models.Lab

@{
    ViewBag.Title = "New Lab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name='viewport' content='width=device-width' />
    <title>Lab Editor</title>
</head>
<body>
    <!-- Content -->
    <div class='container-fluid'>
        <div class='row row-relative'>
            <div class='col-sm-12 col-border labBuild'>
                <div class='labTitle'>
                    <label for='title'>Lab Title:</label>
                    <input type='text' class='form-control title' id='lab-title' />
                    <hr>
                </div>
                <div class='exercises'>

                    <div class='row row-relative exercise' id='ex-0' hidden>
                        <div class='col-sm-1 text-center remove-exercise'>
                            <button class='btn btn-default remove-ex' id='remove-ex-' title='Remove Exercise'>Remove</button>
                        </div>

                        <div class='col-sm-10 exercise-content'>

                            <div class='exercise-title'>
                                Exercise Title: <input id='ex-title-' type='text'>
                            </div>
                            <div id='summernote'></div>
                            <div class='exercise-response-type'>
                                Response:
                                <select id='ex-response-' name='response-type'>
                                    <option value='short'>Short Answer</option>
                                    <option value='long'>Long Answer</option>
                                    <option value='multi'>Multiple Choice</option>
                                    <option value='img'>Image</option>
                                    <option value='vid'>Video</option>
                                </select>
                                <div id='multi-choice-' hidden>
                                    <div class='multi-options' id="ex-multi-">
                                        <label>Option 1:</label><input type='text' name='multi-1'>
                                        <label>Option 2:</label><input type='text' name='multi-2'>
                                    </div>
                                    <button class='btn btn-default' id='add-multi-option-' title='Create New Multiple Choice'>Add</button>
                                    <button class='btn btn-default' id='remove-multi-option-' title='Remove Multiple Choice Opt' disabled>Delete</button>
                                </div>
                            </div>

                        </div> <!-- exerciseContent -->
                        <div class='col-sm-1 text-center move'>
                            <button class='btn btn-default move-up' id='move-up-ex-' title='Move Exercise Up'>Move Up</button>
                            <button class='btn btn-default move-down' id='move-down-ex-' title='Move Exercise Up'>Move Down</button>
                        </div>
                        <hr />
                    </div> <!-- row -->

                </div> <!-- exercises -->

                <div class='new-exercise'>
                    <button class='btn btn-default' id='create-exercise-btn' title='Create New Exercise'><i class='glyphicon glyphicon-plus-sign'></i> Create New Exercise</button>
                </div>
            </div>
        </div>
        <div class='row row-relative'>
            <div class='save-lab'>
                <button type='submit' class='btn btn-default' id='save-lab-btn'>Save</button>
                <button type='submit' class='btn btn-default' id='preview-lab-btn'>Preview</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class='footer' id='footer'>
        <div class='container-fluid'>
            <p>Eastern Washington University</p>
        </div>
    </footer>


</body>
</html>
